<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Noticias</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/font-awesome/css/all.css}"
	rel="stylesheet"/>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<header>
		<nav class="navbar bg-dark navbar-dark">
			<a class="navbar-brand" href="/"> <span class="h3">Sistema Notícias</span>
			</a>

			<form class="form-inline">
					<a class="btn btn-info nav-link p-1 m-1 text-white" href="/gerenciamento">Voltar</a>
			</form>
		</nav>
	</header>

	<main>
	<div class="container-fluid">
		<h1 class="row justify-content-center mt-2">Lista de autores:</h1>
		<th:block th:include="mensagemValidacao"></th:block>
		<span th:if="${autor.size() == 0}" class="row justify-content-center alert alert-danger">Nenhum autor encontrado.</span>
	</div>
	<table class="container table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>CPF</th>
				<th>Data cadastro</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="autor : ${autor}">
			<td th:text="${autor.id}"></td>
			<td>
				<div class="nomeAutorGerenciamento" th:text="${autor.nome}"></div>
			</td>
			<td th:text="${autor.cpf}"></td>
			<td th:text="${#dates.format(autor.dataCadastro, 'dd/MM/yyyy HH:mm')}"></td>
			<td class="tdAcoes"> 
				<a data-toggle="modal" data-target="#modal-delete"
                                           th:attr="data-target='#modal-delete'+${autor.id}">
                                            <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                                                  data-placement="top" title="Delete Permanently"></span></a>
                                                  
				<button type="button" class="btn" data-toggle="modal" title="Deletar" data-target="#modal-delete" th:attr="data-target='#noticiaDeleteConfirmacao'+${autor.id}"><i class="fas fa-trash"></i></button>
				<a class="btn" title="Editar" th:href="@{'/gerenciamento/editarautor/' + ${autor.id}}"><i class="fas fa-edit"></i></a>
				<div class="modal fade" th:id="noticiaDeleteConfirmacao+${autor.id}" tabindex="-1" role="dialog" aria-labelledby="noticiaDeleteConfirmacao" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="empDeleteConfirm">Confimação</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body" th:text="'Tem certeza que deseja deletar o autor ' + ${autor.nome} + '?' ">
                                    </div>
                                    <div class="modal-footer">
                                        <a th:href="@{'/gerenciamento/deletarautor/' + ${autor.id}}"><button class="btn btn-primary">Deletar</button></a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                                </div>
                </div>
				</td>
			</tr>
		</tbody>
	</table>
	</main>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>