<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Noticias</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css" />
<script src="https://cdn.tiny.cloud/1/g4fnq0iqs2cr764yywfyu85h5dcsimj3rt8ptb2rd56z6656/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body onload="atualizarHora()">
	<header>
		<nav class="navbar bg-dark navbar-dark">
			<a class="navbar-brand" href="/"> <span class="h3">Sistema Notícias</span>
			</a>

			<form class="form-inline">
				<a class="btn btn-info nav-link p-1 m-1 text-white" href="/gerenciamento/noticias">Voltar</a>
			</form>
		</nav>
	</header>

	<main>
	<div class="container-fluid">
		<h1 class="row justify-content-center mt-2">Editar notícia</h1>
	</div>
	
	<th:block th:include="mensagemValidacao"></th:block>

	<div class="container">
	<form action="" th:object="${noticia}" autocomplete="off" method=POST>
		<div class="form-group">
		<div class="row">
		<div class="col-9">
		<label for="tituloNoticia">Titulo da notícia: </label>		
		<span class="alert alert-danger" th:if="${#fields.hasErrors('tituloNoticia')}" th:errors="*{tituloNoticia}"></span> 
		<input type="text" th:field="*{tituloNoticia}" onchange="validarCampo(this)" name="tituloNoticia"class="form-control" required>
		</div>
		
		<div class="col">
		<label>Data e horario da edição</label> <input disabled type="text" placeholder="Data e hora do sistema" class="form-control inputData">
		</div>
		</div>
		</div>
		
		<div class="form-group">
			<label>Link da imagem:</label>
			<span class="alert alert-danger" th:if="${#fields.hasErrors('linkImagem')}" th:errors="*{linkImagem}"></span>
			<input name="linkImagem" th:field="*{linkImagem}" autocomplete="off" onchange="validarImagem(linkImagem.value)" class="form-control" placeholder="https://link.png" required/>
			<img src="" style="display:none" class="cadastroImagem preview" />
		</div>
		<div class="form-group">
			<label for="autor">Autor:</label> 
			<span class="alert alert-danger" th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"></span>
			<select name="autor" onchange="validarCampo(this)" th:field="*{autor}" class="form-control" required>
			<option th:text="${noticia.autor.nome}" th:value="${noticia.autor.id}"> Selecione um autor </option>
			<option th:each="autores : ${autores}" th:value="${autores.id}" th:text="${autores.nome}"></option>
			</select>
		</div>
		<div class="form-group">
			<label>Corpo da notícia:</label>
			<span class="alert alert-danger" th:if="${#fields.hasErrors('corpoNoticia')}" th:errors="*{corpoNoticia}"></span>
			<textarea th:field="*{corpoNoticia}" onchange="validarCampo(this)" name="corpoNoticia"></textarea>
		</div>
		
		  <button type="submit" name="btEnviar" class="btn btn-primary">Salvar</button>
	</form>
	</div>

	</main>
	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/script.js"></script>
	<script>
	tinymce.init({
	      selector: 'textarea',
	      plugins: 'advcode autolink lists media table',
	      toolbar: 'addcomment showcomments code formatpainter table',
	      toolbar_mode: 'floating',
	      tinycomments_author: 'Author name',
	    });
  </script>
</body>
</html>