/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,700&display=swap');
/*Formatações*/
.ultimasPostagens{
	border: 1px solid #e0ebeb;
}

.postagemBloco{
	border:1px solid rgb(211, 215, 207);
	box-shadow: -14px 6px 25px -10px rgba(0,0,0,0.75);
	margin:15px 0 15px 50px;
	padding: 10px;
}

.dataPostagem{
	font-size: 0.9rem;
	padding-top: 10px;
}

.botaoVerNoticia{
	margin: 0 auto;
	width: 150px;
}

.nomeAutor{
	font-size: 0.85rem;
}

.imagemNoticia{
	border:0.5px solid black;
	width:100%;
	max-width: 450px;
	min-height:250px;
	max-height:250px;
	margin: 0 auto;
}

.cadastroImagem{
	width:100%;
	max-width: 450px;
	min-height:250px;
	max-height:250px;
	padding-top:5px;
	margin: 0 auto;
}

.alert{
	padding: 5px;
}

.invalido{
	border: 1px solid red;
}

.centro{
	margin: 0 auto;
}

.valido{
	border: 1px solid green;
}

.botaoGerenciamento{
	font-size:40px;
	font-family: 'Kufam', cursive;
	padding: 100px;
	margin:25px;
}

.tituloCardGerenciamento{
	font-size: 1rem;
}

.imagemCardGerenciamento{
	width: 150px;
	height: 100px;
}
 
.dataPostagemGerenciamento{
	font-size: 0.7rem;	
}

.tituloPostagemGerenciamento,.nomeAutorGerenciamento{
	white-space: nowrap; 
    width: 18em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.tdAcoes{
	font-size: 1.2rem;
}

.fas:hover{
	color:red;
}

.blocoNoticia{
	background:rgba(0,0,0,0.1);
	text-align: center;
	max-width: 80vw;
	word-wrap: break-word
}
.blocoNoticia h1{
	color:white;
	background-color:black;
	border-radius:50px;
	font-family: 'Noto Sans', sans-serif;
}
.blocoNoticia img{
	width: 580px;
}

.blocoNoticia p{
	font-size:1.5rem;
	
}
